body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 100;
    background-color: blueviolet;
    color:white;
}
#use{
    flex-direction: column;
    border: solid 1px teal;
    justify-content: center;
    align-items: center;
    text-align: center;
}